@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<section class="text-center">
    <h1 class="display-4">Breed your Dog</h1>
    <p>Easy and fast like Tinder but for Dogs </p>
    <p>
        <img src="<img src="https://dogbreedidentifier.com/wp-content/uploads/2014/09/dog-breed-selectors.png" width="953" height="300" alt="Alternate Text" />" width="953" height="300" alt="Alternate Text" />
        <img src="https://dogbreedidentifier.com/wp-content/uploads/2014/09/dog-breed-selectors.png" width="953" height="300" alt="Alternate Text" />

        <img src="https://media2.giphy.com/media/3oz8xOEf1lHUA5Lzvq/source.gif" alt="Alternate Text" /><img src="https://media2.giphy.com/media/3oz8xOEf1lHUA5Lzvq/source.gif" alt="Alternate Text" />

    </p>
    <section>
        <style>
            body{
                background-color:aqua
            }
        </style>
        <style>
            body{
                scrollbar-shadow-color:black
            }
        </style>
        <a href="HTMLPage3.html">next page</a>
    </section>
</section>
